.restaurant-card:hover, .btn:hover {
  opacity: 0.8;
  box-shadow: 1px 4px 13px -10px #353535, 1px 4px 12px -4px #353535;
  cursor: pointer;
}

@keyframes slide {
  0% {
    transform: translateY(-15%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}
.fade-in-top {
  animation: slide 1s ease-out 1s both, opacity 1s ease-in-out 0.5s both;
}

.menu-card .check-box {
  transform: translateX(100%);
  transition: transform 0.8s;
}
.menu-card .check-box .fa-check-circle {
  transform: rotate(0);
  transition: transform 0.8s;
}
.menu-card:hover .check-box {
  transform: translateX(0%);
}
.menu-card:hover .check-box .fa-check-circle {
  transform: rotate(360deg);
}

body {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  margin: 0;
}

.menu-title > h1 {
  font-family: "Shrikhand", cursive;
}

.menu h2 {
  font-size: 1em;
  font-weight: lighter;
  border-bottom: 0.2em solid #99E2D0;
  width: 13%;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
}

.menu-card > h3 {
  font-size: 1.1em;
}

p {
  font-weight: 300;
  margin: 0;
}

.btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 1em;
  color: white;
  border-radius: 2em;
  box-shadow: 1px 4px 13px -10px #353535;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
}

.fonctionnement-btn {
  display: inline-flex;
  align-items: center;
  width: 95%;
  background-color: #f2f2f2;
  border-radius: 1.3em;
  padding: 1.5em;
  margin-left: 1em;
  box-shadow: 1px 4px 13px -10px #353535;
}
.fonctionnement-btn:hover {
  box-shadow: 1px 4px 12px -4px #353535;
  background-color: #f2eafb;
  cursor: pointer;
}
.fonctionnement-btn:hover .fas {
  color: #9356DC;
}
.fonctionnement-btn__number {
  color: white;
  background-color: #9356DC;
  border-radius: 1em;
  font-size: smaller;
  padding: 0.4em 0.6em;
  float: left;
  position: absolute;
}
.fonctionnement-btn .fas {
  color: #747474;
}
.fonctionnement-btn__text {
  font-weight: 400;
  margin-left: 1em;
}
.fonctionnement-btn__text:hover {
  color: #353535;
}

.heart {
  width: 0.5em;
  height: 0.5em;
  background-image: url(../images/icons/heart-regular.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  cursor: pointer;
}
.heart .heart--empty {
  z-index: 1;
  stroke: black;
}
.heart .heart--full {
  z-index: 2;
  fill: url(#gradient);
  stroke: url(#gradient);
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;
}
.heart:hover {
  background-image: url(../images/icons/heart-solid.svg);
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
@keyframes opacity-loading {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.spinner-box {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  opacity: 1;
  pointer-events: none;
  animation: opacity-loading 3s linear both;
}
.spinner-box img {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
}
.spinner-box .pulse-container {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spinner-box .pulse-bubble {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.spinner-box .pulse-bubble-1 {
  background-color: #9356DC;
  animation: pulse 0.5s ease 0s infinite alternate;
}
.spinner-box .pulse-bubble-2 {
  background-color: #FF79DA;
  animation: pulse 0.5s ease 0.25ms infinite alternate;
}
.spinner-box .pulse-bubble-3 {
  background-color: #99E2D0;
  animation: pulse 0.5s ease 0.5s infinite alternate;
}

.fonctionnement {
  padding: 15px;
}

.restaurants {
  padding: 15px;
  background-color: #f2f2f2;
}

footer {
  background-color: #353535;
  padding: 15px;
}
footer h5 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 17px;
  margin: 0;
  font-weight: unset;
  padding-bottom: 15px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}
footer ul li {
  padding-bottom: 10px;
}
footer ul i {
  padding-right: 10px;
}
footer ul a {
  color: white;
  text-decoration: none;
}

.search-district__form {
  background-color: #e4e4e4;
  color: #353535;
  padding: 15px;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 8px 15px -13px #747474;
}
.search-district__form input {
  font: inherit;
  border: none;
  background-color: transparent;
  color: #353535;
  font-weight: 400;
  padding: 0px 0px 0px 10px;
  width: 8.3em;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 15px 15px 15px;
}
header a {
  float: left;
  position: absolute;
  left: 1em;
  color: #353535;
}
header img {
  width: 50%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .responsive-container__desktop {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 0fr;
    grid-template-areas: "search-district fonctionnement" "reservation fonctionnement" "restaurants restaurants";
  }
}

@media screen and (min-width: 1024px) {
  .search-district {
    grid-area: search-district;
  }
}

@media screen and (min-width: 1024px) {
  body .reservation {
    grid-area: reservation;
    height: 32vh;
    background-color: white;
  }
}

@media screen and (min-width: 1024px) {
  .fonctionnement {
    grid-area: fonctionnement;
  }
  .fonctionnement .fonctionnement-card__container {
    flex-direction: column;
  }
  .fonctionnement .fonctionnement-card {
    width: 100%;
  }
  .fonctionnement h2 {
    padding-left: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .restaurants {
    grid-area: restaurants;
  }
  .restaurants h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .restaurants .restaurant-card {
    width: 24%;
    height: 30vh;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .restaurants .restaurant-card__container {
    flex-wrap: nowrap;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .responsive-container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: none;
    grid-template-areas: "starters plates desserts";
    column-gap: 1em;
  }
}

@media screen and (min-width: 1024px) {
  body .menu {
    width: 90%;
    margin: auto;
    background-color: transparent;
  }
  body .menu .menu-card__text {
    justify-content: space-evenly;
  }
  body .menu-image {
    overflow: hidden;
    margin-bottom: 2em;
  }
  body .heart {
    margin-right: 4em;
  }
}

.reservation {
  padding: 30px 20px 30px 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 39vh;
}
.reservation p {
  text-align: center;
  color: #353535;
}

.fonctionnement-card {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.restaurant-card {
  border-radius: 1.3em;
  height: 40vh;
  background-color: white;
  box-shadow: 1px 4px 13px -10px #353535;
  margin-bottom: 1em;
}
.restaurant-card__top {
  height: 74%;
}
.restaurant-card__top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
  position: relative;
  z-index: 0;
}
.restaurant-card__top .new-label {
  background: #99E2D0;
  color: #278870;
  font-size: 0.9em;
  width: fit-content;
  padding: 0.5em;
  margin: 0.7em;
  border-radius: 0.2em;
  position: absolute;
  z-index: 1;
  right: 1em;
}
.restaurant-card__bottom {
  clear: both;
  height: 26%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.restaurant-card__text .heart {
  position: absolute;
  right: 0.8rem;
  top: 0.6rem;
  width: 1.6rem;
  height: auto;
}

.menu-image {
  height: 24vh;
  position: relative;
  z-index: 0;
  width: auto;
}
.menu-image img {
  width: 100%;
}

.menu {
  position: relative;
  z-index: 1;
  background: #f2f2f2;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 15px;
  width: auto;
}
.menu .menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 1px 4px 13px -10px #353535;
  border-radius: 1em;
  height: 7vh;
  padding: 0.7em;
  margin-bottom: 1em;
  overflow: hidden;
  cursor: pointer;
}
.menu .menu-card__text {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.menu .menu-card__text:hover {
  width: 85%;
}
.menu .menu-card__text h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-card__text .menu-card__cmplt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .menu-card__text .menu-card__cmplt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-card__text .menu-card__cmplt p:last-child {
  font-weight: bold;
  overflow: visible;
  text-overflow: unset;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.menu .menu-card .check-box {
  width: 15%;
  height: 10vh;
  background-color: #99E2D0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}
.menu .menu-card .check-box .fa-check-circle {
  color: white;
  font-size: 1.2em;
}
.menu .btn {
  margin-top: 2em;
  margin-bottom: 2em;
}

body {
  padding: 0;
  margin: 0 auto 0 auto;
}
body > * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.--hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
