@import "./utils/variables";
@import "./utils/extensions";
@import "./utils/mixins.scss";
@import "./utils/animations";
@import "./base/typography";
@import "./components/buttons";
@import "./components/loader";
@import "./layouts/container";
@import "./layouts/footer";
@import "./layouts/forms";
@import "./layouts/header";
@import "./layouts/responsive";
@import "./pages/index";
@import "./pages/menu";

body {
    padding: 0;
    margin: 0 auto 0 auto;
    & > * {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
