// Loading Spinner 
.fade-in-top {
	-webkit-animation: fade-in-top 1s ease-in-out 1s both;
	        animation: fade-in-top 1s ease-in-out 1s both;
}
 @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

// Btn J'aime coeur 
.heart {
  & .heart {
    &--empty {
      z-index: 1;
      stroke: black
    }
    &--full {
      z-index: 2;
      fill: url(#gradient);
      stroke: url(#gradient);
      opacity: 0;
      transform: scale(0);
      transition: all 0.5s;
    }
  }
}

.menu-card {
  & .check-box {
      transform: translateX(100%);
      transition: transform 0.5s;
    & .fa-check-circle {
        transform: rotate(0);
        transition: transform 0.5s ;
    }
  }
  &:hover {
    & .check-box {
        transform: translateX(0%);
        & .fa-check-circle{
          transform: rotate(360deg);
        }
      }
    }  
}   
  
  