.btn {
    background: linear-gradient(to bottom right, $secondary, $primary);
    padding: 1em;
    color: white;
    border-radius: 2em;
    box-shadow: $boxshadow;
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;

    &:hover {
        background: lighten($secondary, 10);
        // box-shadow: darken($boxshaddow,5);
    }
}








