.reservation {
    padding: 30px 20px 30px 20px;
    background-color:$lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 39vh;
    
    p {
        text-align: center;
        color: $darkgrey;
    }

}

.fonctionnement-card {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.restaurant-card {
    border-radius: 1.3em;
    height: 40vh;
    background-color: white;
    box-shadow: $boxshadow;
    margin-bottom: 1em;
    @extend %hoverstyle;

    &__top {
        height: 74%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 1.3em;
            border-top-right-radius: 1.3em;
            position: relative;
            z-index: 0;
        } 
        .new-label {
            background: $tertiary;
            color: darken($color: $tertiary, $amount: 40);
            font-size: 0.9em;
            width: fit-content;
            padding: 0.5em;
            margin: 0.7em;
            border-radius: 0.2em;
            position: absolute;
            z-index: 1;
            right: 1em;
        }
    }

    &__bottom {
        clear: both;
        height: 26%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.8em;
        padding-right: 0.8em;
    }
    
    &__text {
        & .heart {
            position: absolute;
            right: 0.8rem;
            top: 0.6rem;
            width: 1.6rem;
            height: auto;
        }
    }
}