
.menu {
    background:$lightgrey;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding: 15px;
    width: 100%;
    z-index: 3;
    margin-top: -5vh;

    .menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .btn {
        margin-top: 2em;
        margin-bottom: 2em;
        @extend %hoverstyle;
    }
}

.menu-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 1px 4px 13px -10px #353535;
    border-radius: 1em;
    height: 7vh;
    padding: 0.7em;
    margin-bottom: 1em;
    overflow: hidden;
    cursor: pointer;
    &__text {
        height: 7vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .menu-card__cmplt {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p:last-child {
                font-weight: bold;
                overflow: visible;
                text-overflow: unset;
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
        }
    }
    .check-box {
        width: 20%;
        height: 100%;
        background-color: $tertiary;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -1px;
        .fa-check-circle {
            color: white;
            font-size: 1.2em;
        }
    }
}




