// Loading Spinner 
// Courses entrance 
@keyframes slide {
  0% {
      transform: translateY(-15%);
      opacity: 0%;
  }
  100% {
      transform: translateY(0%);
      opacity:100%;
  }
}

.fade-in-top {
  animation: slide 1s ease-out 1s both, opacity 1s ease-in-out 0.5s both;
}

// Courses selection
.menu-card {
  & .check-box {
    transform: translateX(100%);
    transition: transform 0.8s;
      & .fa-check-circle {
        transform: rotate(0);
        transition: transform 0.8s ;
      }
  }
  &__text {
    width: 100%;
    transition: width 0.8s ;
  }
  &:hover {
    & .check-box {
            transform: translateX(0%);
            & .fa-check-circle {
              transform: rotate(360deg);
            }
    }
    & .menu-card__text {
      width: 82%;
    } 
  }
}
  
  