footer {
    background-color: $darkgrey;
    padding: 15px;

    h5 {
        font-family: 'Shrikhand', cursive;
        color: white;
        font-size: 17px;
        margin: 0;
        font-weight:unset;
        padding-bottom: 15px;
        @include desktop {
            text-align: center;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: white;
        @include desktop {
            text-align: center;
        }

        li {
            padding-bottom: 10px;
        }

        i {
            padding-right: 10px;
        }

        a {
        color: white;
        text-decoration: none;  
        }
    }
}