
.search-district__form {
    background-color: $mediumgrey;
    color: $darkgrey;
    padding: 15px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 8px 15px -13px #747474;
    

    input {
        font:inherit;
        border: none;
        background-color: transparent;
        color: $darkgrey;
        font-weight: 400;
        padding: 0px 0px 0px 10px;
        width: 8.3em;
    }
}