header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 15px 15px 15px;

    a {
        float: left;
        position: absolute;
        left: 1em;
        color: $darkgrey;
    }

    img {
        width: 50%;
        height: auto;
    }
}