// tablet  ------------------------------------------//
// index page
body {
    @include tablet {
        font-size: 14px;
    }
}

header {
    & img {
        @include tablet {
            width: 25%;
        }
    }
}

.responsive-containner--flex {
    @include tablet {
        display: flex;
        & .reservation {
            justify-content: space-between;
            width: 60%;
            background-color: transparent;
            & .btn {
                width: 40%;
            }
        }
        & .fonctionnement {
            width: 40%;
        }
    }
}

.restaurant-card__container {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & .restaurant-card {
                width: 48%;
                height: 24vh;
            }
    }
}

// menu page
.responsive-container {
    @include tablet {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: none;
    grid-template-areas:
    "starters plates desserts";
    column-gap: 1em;
}
}
.menu-starters { 
    @include tablet {
    grid-area: starters; 
}
}
.menu-plates { 
    @include tablet {
    grid-area: plates; 
}
}
.menu-desserts { 
    @include tablet {
    grid-area: desserts; 
}
}

.menu {
    @include tablet {
    & .menu-card {
        height: 5vh;
        &__text {
            height: 5vh;
            justify-content: space-evenly;
        }
    }
    & .btn {
        width: 19%;
        }
    }
}

// desktop ------------------------------------------//
// index page
.responsive-containner--flex {
    @include desktop {
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-between;
        & .reservation {
            justify-content: space-evenly;
            width: 70%;
        }
        & .fonctionnement {
            width: 23%;
        }
        }
    }

.restaurants {
    @include desktop {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
        & .restaurant-card__container {
            & .restaurant-card {
                width: 24%;
                &__top {
                    height: 68%;
                }
                &__bottom {
                    height: 32%;
                }
            }
        }
    }
}

// menu page
.menu {
    @include desktop {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 32px;
        & .responsive-container {
            column-gap: 3em;
        }
    }
}

.menu {
    @include desktop {
    & .menu-card {
        height: 7vh;
        &__text {
            height: 7vh;
        }
    }
    & .btn {
        margin-bottom: 1em;
        }
    }
}